
body {
    height: 1000px;
}


span, div {
    border: rgb(84, 18, 150) solid 3px;
} 
.inner {
    border: #053b20 solid 3px;
    height: 400px;
    width: 40%;
    margin:20px;
    position: relative;
}

.test {
    position: absolute;
    top: 150px;
    left: 20px;
    color: red;
    width: 200px;
    min-height: 20px;
    display: inline-block;
    box-sizing: border-box;
}




