@font-face {
  font-family: 'Helvetica', sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica-Bold', sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}

ul {margin:0; padding:0;}

*,
*::before,
*::after{
  box-sizing: inherit;
}

button {
  color:inherit;
  font-size: inherit;
  background-color: transparent;
  border:none;
  cursor:pointer;
  font-family: inherit;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

html{
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color:#5c5c5e;
}



.container{
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #cacad6;
}

.nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
  font-size: 14px;
}

.menu {
  display: flex; 
  gap: 0 20px;
}

.logo {
  position: relative;
  justify-self:center;
}

.basket {
  position: relative;
  justify-self: end;
}
.basket__num{
  font-size: 10px;
  /* padding:1px 2px; */
  width: 15px;
  height: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  right:-3px;
}

.top {
  min-height: calc(100vh - 82px);
  background-image: url("../images/top-bg.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.title {
  padding-top: 16%;
  font-size: 96px;
  margin-bottom: 10px;
}

.subtitle{
  font-size: 36px;
  margin-bottom: 5px;
}

.top__text {
  margin-bottom: 50px;
  font-size: 13px;
}

.buy__text{
  padding-top: 6px;
  font-size: 13px;
}

.buy-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  display: flex;
  text-transform: uppercase;
  padding: 1px;
}

.buy-btn__text{
  color: #F6F4F5;
  padding: 20px 110px;
  text-transform: uppercase;
}

.buy-btn__price{
  background-color: #e2e2e2;
  padding: 20px 105px;
}

.features {
  padding: 100px 0;
}

.features__titles {
  display: flex;
}

.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}

.section__title {
  text-transform: uppercase;
  font-weight: 400;

}


.features__text {
  max-width:330px;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 2px;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn{
  display:flex;
  flex-direction: column;
  align-items: start;
}

.tabs__btn-item{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.tabs__btn-item--active{
  color: #070707
}

.tabs__content {
  position: relative;
  min-height: 300px;
}


.tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap:40px;
  opacity: 0;
  position: absolute;
  transition: opacity .3s ease;
}


.tabs__content-item--active{
  opacity: 1;
}

.tabs__content-box p {
  font-size: 16px;
  line-height: 18px;
}
.tabs__content-box h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.tabs__content-img{
  grid-row: 1/-1;
  align-self: end;
  position: relative;
  bottom: -8px;
}

.video {
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  background-image: url("../images/content-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 9px 10px;
}

.video__btn {
  margin-left: 22px;
}

.video span {
  color:#f6f4f5;
  font-size: 13px;
}

.game {
 margin-bottom: 100px;
}

.game__title {
  margin-bottom: 50px;
}

.game__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.game__descr {
  padding-right: 10px;
}

.game__descr-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__descr-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #5C5C5E;
  margin: 10px 0 30px 0;
}

/* .border__wrap{
  background-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  padding: 1px;
} */

.game__link{
  display: inline-block;
  padding: 15px 45px;
  font-weight: 700;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border:1px solid #BC10D8;
  text-align: center;
}

.game__item{
  padding: 10px 20px 18px 20px;
  border:#BC10D8 1px solid;
  display: flex;
  flex-direction: column;
}

.game__item-img {
  margin-bottom: 10px;
}
.game__item-title{
  font-style: 24px;
  margin-bottom: 10px;
}

.game__item-text{
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
}

.game__item-link{
  margin-top: auto;
  font-weight: 400;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy-btn__price--bottom {
  background-color: #fff;
}


.buy {
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.buy__img {
  margin-bottom: 50px;
}


.buy__bg{
  position: absolute;
  top:-30px;
  font-size: 300px;
  font-weight: 700;
  align-self: center ;
  line-height: 400px;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.2;
  z-index: -1;
  animation: line-text 5s linear 0.1s infinite;
}

@keyframes line-text {
  from {
    transform: translateX(115%);
    transform-origin: left center;
  }
  to{
    transform: translateX(-115%);
    transform-origin: right center;
  }
}
 
.buy .buy-btn{
  margin: 30px auto 10px auto;
}

.equipment{
  margin-bottom: 100px;
}

.equipment__title{
  margin-bottom: 50px;
}

.equipment__box{
 display: grid;
 grid-template-columns: 2fr repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 gap:40px 20px;
 }



.equipment__box-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.equipment__box-item {
  position: relative;
}
.equipment__box-item--1 {
  grid-row: 1/-1;
}

.equipment__box img {
  height: 100%;
}

.equipment__box-text{
  position: absolute;
  bottom:-25px;
}

.promo {
  margin-bottom: 100px;
}

.promo__inner {
  background-image: url("../images/promo.jpg");
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  position: relative;
}

.promo__btn {
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  bottom: 80px;
  left:0;
  right: 0;
  margin: 0 auto;
}

.accessories__text {
  margin: 30px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accessories__items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 124px;
}

.accessories__item {
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80,0,250,0.93)100%) 1;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accessories__item-img{
  margin-bottom: 10px;
}

.accessories__item-title {
  font-size: 24px;
  line-height: 28px;
  color: #070707;
  min-height: 67px;
}

.accessories__item-text {
  margin-bottom: 35px;
  margin-top: auto;
}

.accessories__item-price {
  font-weight: 700;
  color: #070707;
  margin-bottom: 20px;
  margin-top: auto;
}


.accessories__item-btn {
  border: 1px solid;
  border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80,0,250,0.93)100%) 1;
  padding: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
}

.contacts {
  margin-bottom: 100px;
}

.container {

}

.contacts__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #070707;
  margin-bottom: 10px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contacts__form {
  flex-basis: 600px;
}

.form {
  margin-bottom: 10px;
  position: relative;
}

.form__input {
  width: 100%;
  border:none;border-bottom: 1px solid #cacad6;
  padding: 22px 80px 22px 10px;
  border: none;
}

.form__btn {
  position: absolute;
  right: 10px;
  bottom:5px;
  color: #5C5C5E;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background-color: #cacad6;
  padding: 16px 14px;
  text-align: center;
  border-radius: 50%;
}

.form__input::placeholder{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #CACAD6;
}

.contacts__text {
  font-size: 13px;
}

.contacts__email {
  font-size: 16px;
  line-height: 18px;
}

.social {
  display:flex;
  justify-content: flex-end;
  gap: 20px;  
}

.footer {
  border-top: 1px solid #CACAD6;
  border-bottom: 1px solid #CACAD6;
  margin-bottom: 44px;
  padding: 30px 0;
}


@media (max-width:768px) {
  .title {
    font-size: 66px;
  }
  .subtitle{
    font-size: 24px;
  }
  
}

@media (max-width:568px) {
  .top{
    text-align: center;
  }
  .title {
    font-size: 46px;
  }
  .subtitle{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .buy-btn{
    flex-direction: column;
    margin:0 auto;
  }
  .buy__text{
    margin: 0 auto;
    text-align: center;
  }
}











