body {
  padding: 50px 100px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.item{
  border: 1px solid #131313;
  background-color: #57a152;
  color:#fff;
  padding: 15px;
}

.box {
  display: grid;
  grid-auto-columns: minmax(200px, 500px) ;
  grid-auto-flow: dense;
  gap:10px;
  place-items: end center;
}

.item-1 {
  grid-column:  span 2;
  grid-row: 1/ span 2;

}


.item-2 {
  grid-column: span 2;
}

.item-7 {
  grid-column: 2/4;
}

/* .wrapper{
  margin-top: 50px;
  display:grid;
  grid-template-areas: 
  "header header header header"
  "main main main aside"
  "footer footer footer aside";
  gap:5px;
}

.element {
  border: 2px solid #57a152;
  background-color: #131313;
  color:#fff;
  font-size: 48px;
  padding: 15px;
  text-align: center;
  
}

.header {
  grid-area: header;
  height: 300px;
}
.main{
  grid-area: main;
  height: 500px;
}
.aside {
  grid-area: aside;
}
.footer {
  grid-area: footer;
  height: 50px;
}
 */


