*, *::after, *::before {
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}


ul {
    padding: 0 ;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


 
.container{
    max-width: 1220px;
    margin:0 auto;
    padding: 0 10px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px;
}

.menu__list{
    display: flex;
}



.menu__link {
    font-style: normal;
    text-transform: uppercase;
    padding: 43px 20px;
    transition: all .3s;
}

.menu__link:hover {
    background-color: #131313;
    color: #fff;

}

.menu__item + .menu__item{
    padding-left: 10px;
}