html, body{
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
  color: #444;
}

h1 {
  font-size: 20px;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom:  1px solid #ccc;
}

#reg-form {
  width: 400px;
  margin: 20px auto 0 auto;
  padding: 10px;
  background: #fff;
  box-shadow: 5px 5px 10px #aaa;
}

.textе input, textarea {
  border: 0;
  border-bottom: #eed324 solid 1px;
}

.textе:active{
  border: 0;
  border-bottom: #eed324 solid 1px;
}


textarea{
  font-size: 16px;
  color: #096407;
  max-width: 330px;
  max-height: 100px;
}

.reg_button {
  padding: 10px;
  color:#f2d6a3;
  background-color:#03111b;
  border: #c7dae8 solid 1px; 
  border-radius: 5px;
  font-size: 16px;
}

.reg_button:hover {
  background-color:#c7dae8 ;
  color:#141008;
  border: #03111b solid 1px;
}

.reg_button:active {
  background-color:#2f3b3b;
  color:#c7dae8 ;;
  border: #c7dae8 solid 1px;
}

 #reg_control {
  overflow: hidden;
  margin-top:40px;
 }

span.it {
    font-style: italic;
    /* font-weight: bold; */
}


p {
  font-size: 13pt;
}




pre.pre {
  font-family:'Courier New', Courier, monospace;
  font-size: 12pt;
}

.menu-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;  
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0;
}


.menu ul{
  margin:0;
  padding:0;
}

.menu {  
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 0;
}

.menu-position {
  background-color: rgba(10,10,10, 0.85);
  padding: 5px 0 3px 0;
  border-radius: 10px;
}


.menu li {
  margin: 0 10px;
  font-size: 15pt;
  padding-left: 0;
}

.menu li a {
  color: #d6930c;
  text-decoration: none;
  opacity: 1;
}

.menu li a:hover{color: #feb31c;}

.menu li a:active{
  color: rgb(244, 249, 247);
  font-size: 16pt;

}

ul {
  list-style: none;
  padding: 10px;
}

a{color:#1a4358}
p a:hover{color:  #feb31c;}
p a:active{color: rgb(44, 8, 8);}


div.vision { 
  padding-top: 100px;
  margin: 0 auto;
  width: 70%;
}

