<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/start/css/normalize.css">
    <link rel="stylesheet" href="static/start/css/style_exp.css">
</head>

<body>
    <div class="box">
        <div class="text text-1">1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloremque rerum exercitationem repudiandae. Quam, deleniti! Quibusdam ipsum totam amet non laudantium ea earum? Quisquam est corporis aliquid hic totam iste.</div>
        <div class="text text-2">2 Lorem ipsum dolor sit  lodgszsdFSADamet consectetur adipisicing elit. Eligendi doloremque rerum exercitationem repudiandae. Quam, deleniti! Quibusdam ipsum totam amet non laudantium ea earum? Quisquam est corporis aliquid hic totam iste.</div>
        <div class="text text-3">3 Lorem ipsum dololorer sit amet consectetur adipisicing elit. Eligendi doloremque rerum exercitationem repudiandae. Quam, deleniti! Quibusdam ipsum totam amet non laudantium ea earum? Quisquam est corporis aliquid hic totam iste.</div>
        <div class="text text-4">4 Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veritatis inventore veniam fugiat laudantium ullam optio eveniet quo voluptatibus tenetur! Quibusdam dolorum tenetur modi pariatur cum debitis ratione ipsa ab. amet consectetur adipisicing elit. Eligendi doloremque rerum exercitationem repudiandae. Quam, deleniti! Quibusdam ipsum totam amet non laudantium ea earum? Quisquam est corporis aliquid hic totam iste.</div>
        <div class="text text-5">5 Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veritatis inventore veniam fugiat laudantium ullam optio eveniet quo voluptatibus tenetur! Quibusdam dolorum tenetur modi pariatur cum debitis ratione ipsa ab. amet consectetur adipisicing elit. Eligendi doloremque rerum exercitationem repudiandae. Quam, deleniti! Quibusdam ipsum totam amet non laudantium ea earum? Quisquam est corporis aliquid hic totam iste.</div>
    </div>

    <div class="box">
        <img src="static/start/images/slider1.jpg" width="200px"  alt="">
        <img src="static/start/images/slider2.jpg" width="200px" alt="">
    </div>

  </body>
</html>




