<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/start/css/normalize.css">
    <link rel="stylesheet" href="static/start/css/style_exp.css">
</head>

<body>
    <div class="inner">
        <h2 class="first">Hello world</h2>
        <h2 class="second">popcorn</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero eum et nulla odio sint repudiandae perspiciatis beatae ea harum non quae dolor nemo fuga, omnis aperiam quidem illo sapiente?</p>
    </div>

</body>

</html>




