<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<h>, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <title>{{ title }}</title>
  </head>  
  <body>    
    {% block menu %}
    <div class="menu-header">
      <ul class="menu">
        {% for i in menu %}
          <li><a href="{{url_for(i.get('link'))}}">{{i.get('title')}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}

    {% block content %}
    <h1 align="center"> {{title}}</h1>
    

    {% endblock %}
  </body>
</html>
