<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../static/exp/style.css">
    <title>CSS Экспермименты</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li class="dropdown">
            <a href="#">О компании</a>
            <ul class="dropdown-menu">
              <li><a href="#">История</a></li>
              <li><a href="#">Миссия</a></li>
              <li><a href="#">Миссия</a></li>
              <li><a href="#">Миссия</a></li>
              <li><a href="#">Миссия</a></li>
            </ul>
          </li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
</body>
</html>