<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<frameset cols="20%, *" >
    <frame name="about" src="{{url_for('about')}}" align="rigth">
        <h2>Привет все ок.</h2>
    </frame>
    <frame name="index" src="{{ url_for('index')}}" align="left">
        <h1>Привет как дела</h1>
    </frame>
   
</frameset>
</html>