{% extends 'base.html' %}

{% block menu %}
{{ super()}}
{% endblock %}


{% block content %}

<div class="vision">
  {{super()}}
  <p>
    <h3 id="soup"Soup>SOUP  </h3>
    HTML (от англ. <span class="it">HyperText Markup Language — «язык гипертекстовой разметки»</span>)
    — стандартизированный язык гипертекстовой разметки документов для
    просмотра веб-страниц в браузере. Веб-браузеры получают HTML документ от
    сервера по протоколам<a href="/" target="_blank"> HTTP/HTTPS</a> или открывают с локального диска, далее
    <pre class="pre">
      интерпретируют код в
       интерфейс, который будет 
       отображаться на экране
      монитора. Элементы HTML являются 
      строительными блоками HTML 
      страниц. С помощью HTML
       разные конструкции, 
      изображения и другие объекты, 
      такие как
      интерактивная веб-форма, могут 
      быть встроены в отображаемую 
      страницу. HTML
      предоставляет средства 
      для создания заголовков, 
      абзацев, списков, ссылок
    </pre>
    цитат и других элементов. Элементы HTML выделяются тегами, записанными с
    использованием угловых скобок. Такие теги, как &lt;img /&gt; и &lt;input
    /&gt;, напрямую вводят контент на страницу. Другие теги, такие как
  </p>
  <p>
    , окружают и <a href="/about">оформляют</a> текст внутри себя и могут включать другие теги в
    качестве подэлементов. Браузеры не отображают HTML-теги, но используют их
    для интерпретации содержимого страницы. Язык XHTML является более строгим
    вариантом HTML, он <a href="/about">следует</a> синтаксису XML и является приложением языка XML
    в области разметки гипертекста. В HTML можно встроить программный код на
    языке программирования <a href="/about">JavaScript</a>, для управления поведением и содержанием
    веб-страниц. Также включение CSS в HTML описывает внешний вид и макет
    страницы.
  </p>
  <p>
    <img src="{{ 'images/post1/1.jpg'|static_url }}" width="300" alt="...sdfghj " title="111">
    Язык XHTML является более строгим вариантом HTML, он следует синтаксису
    XML и является приложением языка XML в области разметки гипертекста.
  </p>
  <iframe src="{{ url_for('menu')}}" name="mail" height="300" width="20%" scrolling="yes" frameborder="0">
    <h1>Ваг браузер не поддерживает плавающие фреймы</h1>
  </iframe>
  <a href="#soup">soup</a>
  <p>
    <img align="right" src="static/images/1.jpg" height="100">
    HTML можно встроить программный код на языке программирования JavaScript,
    для <a href="/about">управления</a> поведением и содержанием веб-страниц. Также включение CSS в
    HTML описывает внешний вид и макет страницы.
  </p>
  <ol>
    
  </ol>




</div>
{% endblock content %}