{% extends 'base.html' %}
{% block content %}
{{ super() }}

<p>
  HTML (от англ. <span class="it">HyperText Markup Language — «язык гипертекстовой разметки»</span>)
  — стандартизированный язык гипертекстовой разметки документов для
  просмотра веб-страниц в браузере. Веб-браузеры получают HTML документ от
  сервера по протоколам HTTP/HTTPS или открывают с локального диска, далее
  интерпретируют код в интерфейс, который будет отображаться на экране
  монитора. Элементы HTML являются строительными блоками HTML страниц. С
  помощью HTML разные конструкции, изображения и другие объекты, такие как
  интерактивная веб-форма, могут быть встроены в отображаемую страницу. HTML
  предоставляет средства для создания заголовков, абзацев, списков, ссылок,
  цитат и других элементов. Элементы HTML выделяются тегами, записанными с
  использованием угловых скобок. Такие теги, как &lt;img /&gt; и &lt;input
  /&gt;, напрямую вводят контент на страницу. Другие теги, такие как
</p>
<p>
  , окружают и оформляют текст внутри себя и могут включать другие теги в
  качестве подэлементов. Браузеры не отображают HTML-теги, но используют их
  для интерпретации содержимого страницы. Язык XHTML является более строгим
  вариантом HTML, он следует синтаксису XML и является приложением языка XML
  в области разметки гипертекста. В HTML можно встроить программный код на
  языке программирования JavaScript, для управления поведением и содержанием
  веб-страниц. Также включение CSS в HTML описывает внешний вид и макет
  страницы.
</p>
<p>
  Язык XHTML является более строгим вариантом HTML, он следует синтаксису
  XML и является приложением языка XML в области разметки гипертекста. В
</p>
<p>
  HTML можно встроить программный код на языке программирования JavaScript,
  для управления поведением и содержанием веб-страниц. Также включение CSS в
  HTML описывает внешний вид и макет страницы.
</p>
{% endblock %}